.container {
  display: grid;
  grid-template-areas:
    "search-bar search-bar search-bar search-bar"
    "video-player video-player video-player video-list"
    "video-player video-player video-player video-list";
}

.search-bar {
  grid-area: search-bar;
}

.video-player {
  grid-area: video-player;
  background: #b8cad4;
}

.video-list {
  grid-area: video-list;
  background: #b8cad4;
  padding: 15px;
}

.item {
  display: flex !important;
}

.video-titulo {
  font-size: 16px;
  font-weight: bold;
  font-family: tahoma;
  padding: 10px 10px 0;
  margin: 0;
}

.video-descricao {
  font-size: 12px;
  font-family: tahoma;
  padding: 0 0 10px 10px;
}
